body
{
    background-color:  #1A1A1D;
    font-family: 'Exo', sans-serif;
    font-size: large;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%
}
#main
{
    background-color:#4E4E50;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border:#950740 3px solid;
}
#tb
{
    text-align: center;
    background-color:#2d3e50;
    border: #6F2232 3px solid;
    padding-right: 10%;
    padding-left: 10%;
}
#odp1,#odp2,#odp3,#odp4,#odp5
{
    background-color: darkgray;
    border: gray solid 2px;
    position:sticky;
}
h3
{
    margin: 0;
}